body
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
a
{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.head1
{
    position: sticky;
    top: 0;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-image: linear-gradient(to right,violet,pink);
}
.title
{
    letter-spacing: 5px;
    width: 60%;
    margin: auto;
    padding: auto;
    font-size: bolder;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.menu
{
    position: relative;
    top: 20%;
    left: 3vw;
}
.menucont
{
    display: none;
    width: 40%;
    height: auto;
    background-image: linear-gradient(to right,violet,pink);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px;
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}
ul.menucont
{
    padding: 10px;
}
ul.menucont li a
{
    border: 2px solid black;
    border-radius: 5px;
}
ul.menucont li a:hover
{
    border: 2px solid white;
    color: pink;
    background-color: black;
}
ul.menucont li
{
    padding: 15px;
}
@keyframes menua
{
    from
    {
        width: 0;
    }
    to
    {
        width: 40%;
    }
}
.menu:hover .menucont
{
    overflow: hidden;
    animation-name: menua;
    animation-duration: 1s;
    display:block;
    position: absolute;
    top: 100%;
}
.menuicon
{
    transform: rotate(180deg);
    transition: transform 3s;
    position: absolute;
    top: 20%;
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    margin-bottom : 8px;
    box-shadow: 1px 1px 10px 1px;
}
.imgicon
{
    position: absolute;
    top: 25%;
    right: 15px;
    width: 50px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 3px;
}
.imgicon:hover
{
    transform: scaleX(1.4);
    transition: transform 2s;
}
img.imgzoom 
{
    display: none;
}
@keyframes imgicon
{
    from
    {
        height: 20vmin;
    }
    to
    {
        height: 40vmin;
    }
}
.imgcon:hover .imgzoom
{
    display: block;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 30vmin;
    height: 40vmin;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px;
    animation-name: imgicon;
    animation-duration: 3s;
}
.about
{
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bolder;
    font-variant: small-caps;
    width: 100%;
    text-align: center;
    padding-top:5px;
}
.msd
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 10px 1px;
}
.imagec
{
    border-radius: 20px;
    overflow: visible;
    float: left;
    display: block;
    margin-top: 20px;
    margin-left: 2%;
    width: 40%;
    height: 50%;
    box-shadow: 0 1px 10px 1px;
}
@keyframes msd
{
    from
    {
        width: 100%;
        height: 0;
    }
    to
    {
        width: 100%;
        height: 98%;
    }
}
.desc
{
    position: relative;
    top: -100%;
    left: 0;
    overflow: hidden;
    border-radius: 15px;
    animation-name: msd;
    animation-duration: 2s;
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    padding-top: 9px;
    width: 100%;
    height: 98%;
    opacity: .9;
    line-height: 30px;
    letter-spacing: 4px;
}
.imagec:hover .desc
{
    display: inline-block;
    background-image: linear-gradient(to right,violet,pink);
}
.content
{
    box-shadow: 0px 1px 10px 1px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid violet;
    margin-top: 2%;
    padding-left: 5%;
    margin-left: 45%;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
}
@keyframes msd1
{
    from
    {
        width: auto;
    }
    to
    {
        transform: rotate(360deg);
        transition: 1s;
    }
}
.content:hover
{
    animation-name: msd1;
    animation-duration: 1s;
    box-shadow: 0px 1px 10px 1px;
    background-image: linear-gradient(to right,violet,pink);
    color: white;
}
.imagecc
{
    width: auto;
    height: auto;
}
.paracon
{
    font-size: 15px;
    font-weight: 600;
    margin-top: 2%;
    display: block;
    box-sizing: border-box;
    border: 2px solid violet;
    width: 93%;
    margin-top: 50px;
    margin-left: 2%;
    text-align: justify;
    padding: 7px;
    line-height: 30px;
}
.achive
{
    font-size: 40px;
    font-variant: small-caps;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top: 10px;
}
.row1 img
{
    width: 100%;
    height: 50%;
}
.a1c
{
    float: left;
    display: block;
    box-shadow: 1px 1px 10px 1px;
    border: 1px solid black;
    text-align: justify;
    width: 46%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 60%;
}
.pagination
{
    font-weight: bolder;
    margin-left: 47%;
    margin-top: 20px;
    text-align: center;
    float: left;
}
.pagination a
{
    border: 1px solid black;
}
.active
{
    background-color: pink;
}
@media only screen and (max-width:600px)
{
    .desc
    {
        letter-spacing: 1px;
        position:relative;
        top:-100%;
        left: 0%;
        height:98%;
    }
    .imagec
    {
        width: 50%;
        float: none;
        margin-left: 25%;
    }
    .content
    {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        font-size: 20px;
    }
    .paracon
    {
        width: 90%;
        margin-left: 5%;
    }
    .row1 .a1c
    {
        margin-left: 10px;
        float: none;
        width: 90%;
        height: auto;
    }
    .pagination
    {
        margin-left:40%;
    }
}
